/* место для вашего кода */

body {
	width: 1100px;
	height: 3028px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1100px;
	margin: 0 auto;
	height: 293px;
	background: white;
}

.menu-block {
	display: flex;
	align-items: center;
}

.menu {
	display: flex;
	gap: 33px;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 50px;
	padding-bottom: 9px;
}

.menu a {
	color: black;
	font-size: 18px;
	text-decoration: none;

}

.logo-image {
	margin-right: 150px;
	width: 148px;
	height: 105px;
}

.contacts {
	margin-right: 85px;
	font-style: normal;
	text-align: left;
	font-size: 18px;
	line-height: 1.4;
}

.contacts a {
	text-decoration: none;
	color: black;
}





.cover {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 1100px;
	height: 757px;
}

.title {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.title p {
	font-size: 100px;
	font-weight: bold;
	letter-spacing: 0.3em;
	color: #FFFFFF;
}

#w1 {
	position: relative;
	bottom: 20px;
	right: 290px;
}

#w2 {
	position: relative;
	bottom: 20px;
	left: 40px;
}

#w3 {
	position: relative;
	bottom: 20px;
	left: 325px;

}


.overlay {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
	filter: brightness(40%)
}


.bottom-content {
	position: absolute;
	text-align: left;
	z-index: 3;
	width: 100%;
}

.auction-text {
	position: relative;
	left: 49px;
	top: 330px;
	font-size: 22px;
	color: #FFFFFF;
	word-spacing: 19px;
}

.bid-button {
	position: relative;
	left: 793px;
	top: 290px;
	color: #FFFFFF;
	font-size: 22px;
	background-color: transparent;
	border: 1px solid white;
	padding: 12px 32px;
	text-transform: uppercase;
	cursor: pointer;
}

.bid-button:hover {
	transform: translateY(-2px);
}





.lots {
	position: relative;
	top: 180px;
	left: 24px;
	width: 1052px;
	height: 723px;

}

.lots_title {
	position: relative;
	left: 40px;
	font-size: 40px;
	font-weight: bold;
}

.lots_information {
	display: grid;
	grid-template-columns: repeat(3, 334px);
	grid-template-rows: repeat(1, 596px);
	column-gap: 25px;
	padding-top: 27px;
}

.lots_content {
	position: relative;
	width: 100%;
	height: 100%;
}

.lots_content img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	z-index: 1;
	filter: brightness(40%);
}

.lot_text_name {
	position: absolute;
	z-index: 2;
	color: #FFFFFF;
	font-size: 22px;
	font-weight: bold;
	left: 40px;
	bottom: 519px;
	top: 48px;
	text-decoration: underline;
	text-underline-offset: 3px;
	cursor: pointer;
}

.lot_text_content {
	position: absolute;
	z-index: 3;
	color: #FFFFFF;
	font-size: 20px;
	left: 40px;
	bottom: 50px;
	right: 40px;
}

.more {
	position: relative;
	left: 40px;
	top: 30px;
	font-size: 20px;
	cursor: pointer;
	text-decoration: underline;
	text-underline-offset: 4px;

}



.about {
	position: relative;
	width: 1052px;
	height: 595px;
	top: 120px;
	left: 24px;
}

.logo-circle {
	position: relative;
	top: 208px;
	left: 47px;
	width: 240px;
	height: 240px;
	border-radius: 50%;
	overflow: hidden;
	background-color: black;

	display: flex;
	justify-content: center;
	align-items: center;

}

.logo-circle img {
	width: 136px;
	height: 102px;
	object-fit: cover;
}

.about_content {
	position: relative;
	left: 359px;
	top: 78px;
	width: 693px;
	height: 449px;
}

.about_name {
	position: relative;
	font-size: 40px;
	font-weight: bold;
	width: 291px;
	height: 47px;
}

.about_text {

	position: relative;
	top: 100px;
}

.about_text p {
	font-size: 20px;
}


.footer {
	position: relative;
	top: 485px;
	width: 1100px;
	height: 180px;
}

.content_footer {
	width: 264.57px;
	height: 98px;
	position: relative;
	left: 50px;
	font-size: 18px;
}

.contacts_footer a {
	text-decoration: none;
}

.footer_menu {
	width: 100%;
	background-color: transparent;
	position: relative;
	bottom: 102px;
	left: 1px;

}

.footer_nav_list {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer_nav_link {
	font-size: 18px;
	color: #000000;
	text-decoration: none;

}

.footer_image {
	position: relative;
	left: 810px;
	bottom: 165px;
	width: 240px;
	height: 48px;
	grid: 48px;
	display: flex;
	justify-content: space-between;
}

.Youtube {
	width: 48px;
	height: 48px;
}

.VK {
	width: 48px;
	height: 48px;
}

.pinterest {
	width: 48px;
	height: 48px;
}