/* место для вашего кода */

body {
	width: 1100px;
	height: 3028px;

}

.header {
	width: 1100px;
	height: 293px;
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	align-items: center;
	padding: 92px 50px 100px 50px;

}

.header_menu {
	display: flex;
	align-items: center;
}

.header_links-list {
	display: flex;
	gap: 33px;
	padding: 0;
	margin: 0;
}

.header_links-list-item {
	list-style: circle;
}


.header_links-list-item_no-bullit {
	list-style: none;
	text-decoration: none;
}

.header_link {
	color: black;
	font-size: 18px;
	text-underline-offset: 4px;
	color: inherit;
}

.header_link_2 {
	color: black;
	font-size: 18px;
	list-style: none;
}


.header_logo {
	width: 148px;
	height: 104.85px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header_logo-image {
	width: 148px;
	height: 104.85px;
}


.header_address {
	position: relative;
	left: 186.5px;
	font-style: normal;
	text-align: left;
	text-underline-offset: 4px;
	line-height: 1.4;
}

.header_address a {
	font-size: 18px;
	color: black;

}

.header_address p {
	font-size: 18px;
	color: black;

}


/* ---------------------------------- */

.main {
	width: 1100px;
	height: 2375px;
}

.cover {
	position: relative;
	width: 1100px;
	height: 757px;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 50px;
}


.cover_title {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	color: #FFFFFF;

}

.aligned-text {
	position: relative;
	top: 165px;
	font-size: 100px;
	font-weight: bold;
	letter-spacing: 0.3em;
}

.aligned-text_center {
	position: relative;
	left: 330.5px;
	top: 180px;
	font-size: 100px;
	font-weight: bold;
	letter-spacing: 0.3em;
}

.aligned-text_right {
	position: relative;
	left: 613px;
	top: 200px;
	font-size: 100px;
	font-weight: bold;
	letter-spacing: 0.3em;
}


.overlay {
	position: absolute;
	left: 0;
	width: 1100px;
	height: 757px;
	object-fit: cover;
	z-index: 1;
	filter: brightness(40%)
}

.cover_description {
	width: 1000px;
	height: 51px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 3;
	position: relative;
	bottom: 50px;

}

.cover_description-text {
	font-size: 22px;
	color: #FFFFFF;
	word-spacing: 19px;
}


.bet-button {
	color: #FFFFFF;
	font-size: 22px;
	background-color: transparent;
	border: 1px solid white;
	padding: 12px 32px;
	text-transform: uppercase;
	cursor: pointer;
}

.bet-button:hover {
	transform: translateY(-2px);
}


/* ---------------------------------- */

.lots {
	position: relative;
	top: 180px;
	left: 24px;
	width: 1052px;
	height: 723px;
}

.lots_heading {
	position: relative;
	left: 40px;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 27px;
}

.lots_card-list {
	display: grid;
	grid-template-columns: repeat(3, 334px);
	grid-template-rows: repeat(1, 596px);
	column-gap: 25px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.lots_card-list-item {
	position: relative;
	width: 100%;
	height: 100%;
}

.card-link {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.card {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 48px 40px 50px;
	box-sizing: border-box;
	background-size: cover;
	background-position: center;
}

.card_type_film {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	object-fit: cover;
	filter: brightness(80%);
}

.card_type_book {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	object-fit: cover;
	filter: brightness(80%);
}

.card_type_picture {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	object-fit: cover;
	filter: brightness(80%);
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;

}

.card_title {
	position: relative;
	z-index: 3;
	color: #FFFFFF;
	font-size: 22px;
	font-weight: bold;
	text-decoration: underline;
	text-underline-offset: 3px;
	margin: 0;
}

.card_text {
	position: relative;
	z-index: 3;
	color: #FFFFFF;
	font-size: 20px;
	margin: 0;
}

.lots_look-more-link {
	position: relative;
	left: 40px;
	top: 30px;
	font-size: 20px;
	text-decoration: underline;
	text-underline-offset: 4px;
	cursor: pointer;
	color: inherit;
}


.lots_look-more-link {
	cursor: pointer;
}


/* ---------------------------------- */

.about {
	position: relative;
	left: 71px;
	top: 335px;
	width: 1052px;
	height: 595px;
	display: flex;
	justify-content: space-between;


}

.about_column {
	position: relative;
}

.about_logo {
	width: 240px;
	height: 240px;
	border-radius: 50%;
	overflow: hidden;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about_logo-image {
	width: 141.54px;
	height: 112.55px;
	object-fit: cover;
}

.about_title {
	position: relative;
	left: 70px;
	top: 100px;
	font-size: 40px;
	font-weight: bold;
}

.about_text {
	position: relative;
	left: 70px;
	top: 203px;
	font-size: 20px;

}

.about_text_2 {
	position: relative;
	top: 27px;
	font-size: 20px;
}


/* ---------------------------------- */

.footer {
	width: 1100px;
	height: 180px;
	position: relative;
	top: 182px;
	left: 50px;
	display: flex;
	justify-content: space-between;
}

.content_footer {
	width: 264.57px;
	height: 98px;
}

.contacts_footer {
	font-size: 18px;
	font-style: normal;
	text-underline-offset: 4.5px;
}

.contacts_footer a {
	position: relative;
	top: 2px;
}

.contacts_footer p {
	position: relative;
	left: 1px;
	top: 8px;
}

.footer_menu {
	width: 163.9px;
	height: 64px;
}

.footer_menu-list {
	position: relative;
	right: 64px;
	bottom: 1px;
}

.footer_menu-list-item {
	list-style: none;
	text-align: center;
	text-underline-offset: 4px;
}

.footer_menu-link {
	font-size: 18px;
}

.footer__menu-link_active {
	text-decoration: none;
}


.footer_social-list {
	width: 240px;
	height: 48px;
	display: flex;
	column-gap: 48px;
	list-style: none;

}

.footer_social-list-item {
	position: relative;
	right: 100px;
}

.footer_social-link {
	cursor: pointer;
}

.footer_social-icon {
	width: 48px;
	height: 48px;
}